<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/Blog/createBlog}" method="post">
<table th:object="${blog}">
    <tr>
        <td>Title</td>
        <td><input type="text" th:field="*{title}"></td>
        <td><small style="color: red" th:if="${#fields.hasErrors('title')}" th:errors ="*{title}"></small></td>
    </tr>
    <tr>
        <td>Author</td>
        <td><input type="text" th:field="*{author}"></td>
        <td><small style="color: red" th:if="${#fields.hasErrors('author')}" th:errors ="*{author}"></small></td>
    </tr>
    <tr >
        <td>
            Category
        </td>
        <td >
            <select  th:field="*{category}">
                <option th:each="category,status: ${categoryList}" th:text="${category.content}" th:value="${category.id}" />
            </select>
        </td>
    </tr>
    <tr>
       <td><button type="submit">submit</button></td>
    </tr>

</table>
</form>
</body>
</html>